
@model HomeViewModel
<h1>Топ</h1>
<div class="row mt-5 mb-2  ">
    @{
        foreach (Product product in Model.FavProduct)
        {
            @Html.Partial("AllProduct", product)
        }
    }
</div>