@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.ShopCart.ListShopItems)

    {
        <div class="alert alert-warning mt-3">
            <b>Автомобили:</b> @el.Product.Name<br />
            <b>Цена:</b> @el.Product.Price.ToString("c")
        </div>
        <meta @(Model.PriceProduct = Model.PriceProduct + el.Product.Price) />
    }
    <h3>Итого @Math.Round(Model.PriceProduct, 2)</h3>
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>
