@model Product
<div class="row">
    <h3> Оформление заказа</h3>
    <form asp-action="Complete" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Name"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
 
        <div class="form-group">
            <label asp-for="Img"></label>
            <div class="col-md-5">
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <div class="col-md-5">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Volume"></label>
            <div class="col-md-5">
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsFavourite"></label>
            <div class="col-md-5">
                <input asp-for="IsFavourite" class="form-control" />
                <span asp-validation-for="IsFavourite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FastFoodCafeId"></label>
            <div class="col-md-5">
                <input asp-for="FastFoodCafeId" class="form-control" />
                <span asp-validation-for="FastFoodCafeId" class="text-danger"></span>
            </div>
        </div>

        <input class="btn btn-success" type="submit" value="Нажми" />
    </form>
</div>
